# Datos distribuidos
Esto puede presentarse cuando tenemos la información dividida en varios archivos.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../datasets/distributed-data/001.csv")
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [3]:
data.shape

(1461, 4)

* Importar el primer fichero
* Hacemos un bucle para ir recorriendo todos y cada uno de los ficheros
    * Importate tener una **consistencia** en el nombre de los ficheros
    * Importamos los ficheros uno a uno
    * Cada uno de ellos debe apendizarse (añadirse al final) del primer fichero que ya habíamos cargado
* Repetimos el bucle hasta que no queden ficheros

In [7]:
filepath = '../datasets/distributed-data/'

data = pd.read_csv("../datasets/distributed-data/001.csv")
final_lenght = len(data)

for i in range(2,333): # esto porque hay 332 datasets
    if i < 10:
        filename = "00"+str(i)
    elif 10 <= i < 100:
        filename = "0"+str(i)
    else:
        filename = str(i)
    file = filepath + filename + ".csv"
    temp_data = pd.read_csv(file)
    final_lenght += len(temp_data)
    
    data = pd.concat([data, temp_data], axis = 0)

In [5]:
data.shape

(772087, 4)

In [6]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

In [9]:
final_lenght == data.shape[0] ## comparo si el número de filas es igual

True